body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 14px;
  color: #222222;
  line-height: 1.4;
  min-height: 100%;
  position: relative;
}

a {
  background: transparent;
  cursor: pointer;
}

a.no-ul {
  text-decoration: none;
}

/* Container */

.content-container {
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
  overflow: visible;
  padding: 0px 16px;
}

/* Nav */

.brand {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  padding: 0px;    
}

.brand a {
  color: #222222;
  text-decoration: none;
}

.tagline {
  padding-top: 4px;
  line-height: 1;
  font-size: 12px;
  color: #888888;
  font-weight: bold;
}

.nav {
  width: 100%;
  padding: 14px 0px;
  z-index: 1;
  background-color: #FFFFFF;
  border-bottom: 1px solid #f0f0f0;
}

.nav {
  list-style: none;
}

.nav-right {
  float: right;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  vertical-align: middle;
  padding-top: 2px;
  position: relative;
}

.bw-link {
  color: #888888;
}

.bw-link:hover {
  color: #444;
}

.left {
  float: left;
  padding-right: 32px;
}

.right {
  float: right;
}

/* Tabs */

.tabs {
  color: black;
  font-weight: bold;
  width: 100%;
  padding: 0px 0px;
  font-size: 12px;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  line-height: 32px;
}

.light-link {
  color: #888888;
  text-decoration: none;
  padding-bottom: 1px;
  padding-right: 16px;
}

.light-link:hover {
  color: #444;
}

/* Section Nav */

.section-nav-link.active, .section-nav-link:hover, .section-nav-link:active, .section-nav-link:focus {
  color: #222;
  text-decoration: none;
}

.section-nav-link {
  color: #888888;
  text-decoration: none;
  padding-bottom: 1px;
}

.section-name-text {
  text-align: center;
  margin: 32px 0px 16px 0px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.category-spacer-right {
  margin-right: 3px;
}

.category-spacer-left {
  margin-left: 3px;
}

/* Banner */

.post-section.post-section-cta {
  background-color: #8528db;
  color: #FFF;
}

.post-section {
  margin: 0px;
  padding: 32px 0px;
}

.post-section-cta-inner {
  position: relative;
}

.ama-content-title {
  font-size: 16px; 
  font-weight: bold;
}

.ama-content-subtitle {
  color: #b8c2eb; 
  margin-top: 8px;
}

.ama-cta {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 0px;
  margin-right: 20px;
}

.button-banner {
  padding: 6px 30px;
  margin: 5px 0px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 0px !important;
  background-color: #3a4a8c;
  cursor: pointer;
}

.button-banner:hover {
  background-color: #FFF;
  color: #3a4a8c;
}

/* Comments section */

.comments-section.comments-section-cta {
  background-color: #fafafa;
  color: #222;
}

.comments-section {
  margin: 0px;
  padding: 8px 0px;
}

.comments-title p {
  color: #222222;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

/* Posts */

.post {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.post .post-link {
  position: relative;
  z-index: 2;
}

.post-title {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 1px;
}

.post-title a {
  text-decoration: none;
  color: #222222;
}

* {
  box-sizing: border-box;
}

/* New Posts */

.post-form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: stretch;
  grid-column-gap: 6px;
}

.post-form {
  font-family: inherit;
  font-size: inherit;
  margin: 0px 0px 2px 0px;
  padding: 6px 8px;
}

.post-form-author {
  border-width: 1px;
  width: 100%;
  border-bottom-color: #888;
  border-right-color: #888;
}

.post-form-author:focus {
  outline: none;
}

.post-form-title {
  border-width: 1px;
  width: 100%;
  border-bottom-color: #888;
  border-right-color: #888;
}

.post-form-title:focus {
  outline: none;
}

.post-form-categories {
  background-color: #FFF;
  -webkit-appearance: none;
  border-radius: 0px;

  color: #888;
}

.post-form-categories:focus {
  outline: none;
  color: #222;
}

option:checked {
  color: #222;
}

.post-form-text-area {
  width: 100%;
}

.post-form-text-area:focus {
  outline: none;
}

.post-form-button-align {
  text-align: right;
}

.post-form-button {
  color: #8528db;
  border: 1px solid #8528db;
  font-size: 13px;
  padding: 4px 12px;
  margin: 2px 0px;
}

.post-form-button:hover {
  color: #fff;
  background-color: #8528db;
}


/* Book Information */

.info {
  margin: 3px 0px 8px 0px;
  color: #888888;
  font-size: 12px;
}

/* Actions */


.post-action-button {
  line-height: 16px;
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  padding: 3px 12px 4px 12px;    
  border: solid 1px #f0f0f0;
  background-color: #fafafa;
  border-radius: 3px;
  color: #888888;
}

.post-action-button .icon-upvote {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #bbbbbb;
  position: relative;
  top: 1px;
}

.post-action-button .icon-downvote {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid #bbbbbb;
  position: relative;
  top: 1px;
}

.post-action-button-margin {
  margin-left: 3px;
}


.post-action-button .icon-bubble {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  color: #bbb;
}

.icon-bubble .svg.g {
  size: 12px;
}

/* Comments */

.comment-user .dark {
  font-weight: bold;
  font-size: 13px;
}

.comment-time {
  color: #888888;
  text-decoration: none;
  font-size: 12px;
}

.comment-vote {
  color: #888888;
  text-decoration: none;
  font-size: 12px;
}

.comment-body p {
  color: #222;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 13px;
}

.comment-action-button {
  line-height: 16px;
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  padding: 3px 3px 3px 3px;    
  color: #888888;
}

.comment-action-button .icon-upvote {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #bbbbbb;
  position: relative;
  top: 1px;
}

.comment-action-button .icon-downvote {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid #bbbbbb;
  position: relative;
  top: 1px;
}

.comment-action-button-margin {
  margin-left: 3px;
}

.comment-text-area {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0px 0px 2px 0px;
  padding: 6px 8px;
  max-height: 240px;
  font-size: inherit;
  line-height: inherit;
  border-color: none;
}

.comment-text-area:focus {
  outline: none;
}

.comment-author {
  border-width: 1px;
  border-bottom-color: #888;
  border-right-color: #888;
}

.comment-button-align {
  text-align: right;
}

.comment-button {
  color: #8528db;
  border: 1px solid #8528db;
  font-size: 13px;
  padding: 4px 12px;
  margin: 2px 0px;
}

.comment-button:hover {
  color: #fff;
  background-color: #8528db;
}

.comment-action-delete {
 font-weight: 450;
}


/* Footer */

.footer {
  text-align: center;
  padding-bottom: 18px;
  width: 100%;
  color: #888888;
  font-size: 12px;
  bottom: 0px;
  left: 0px;
  position: fixed;
}